In [4]:
import pandas as pd
import matplotlib as plt
import random
from citipy import citipy

In [31]:
#Create a list of unique cities and create a dataframe.

# Here is the logic :
# Latitude values range from -90 to +90 degrees and longitude values range from -180 to +180 degrees.
# Majority of world's landmass, countries and cities are located in the northern hemisphere.
# The focus of this exercise is to understand how 
# the temperature, humidity, cloudiness and windspeed vary with latitude,
# to get a good spread of data, for every latitude starting from -90 deg latitude (southern pole)
# I tried to get 10 random longitudes. I used random.sample to get unique longtitude values.
# I created a list to hold the unique city and country combinations.
# I populated the this list by using citipy library for each latitude and longitude combination.
# The list gets populated only with unique combinations.
# I also tried to limit the number of chosen cities per latitude to 5 to make to get a more vaired spred.


# create an empty list for the cities.
citiesCountry=[]

columns = ['City','Country']
citiesCountryDf = pd.DataFrame()

for i in range(-90,90): # looping through the latitudes
    
    lat = i + random.random() 
    lng = random.sample(range(-180,180),10) # randomly selecting 10 longitudes

    k=0 # variables to count the number of cities per each latitude
    for j in range(0,10):        
        city = citipy.nearest_city(lat, lng[j]+random.random())
        city_name = city.city_name
        country_code = city.country_code
        curCity = city_name + "," + country_code
        if curCity not in citiesCountry:
            citiesCountry.append(city_name + "," + country_code)
            
            # ADD THE CITY AND COUNTRY CODE TO THE citiesCountryDf
            tempDf = pd.DataFrame({'City':city_name,'Country': country_code.upper()}, index = [0])
            citiesCountryDf = citiesCountryDf.append(tempDf, ignore_index = True)
           
            k=k+1
        if(k==5): # If you got 5 unique cities per latitude move on to the next one.
            break

print(len(citiesCountry))

citiesCountryDf.head()

577

             City Country
0          albany      AU
1           bluff      NZ
2    punta arenas      CL
3  port elizabeth      ZA
4         ushuaia      AR